<div class="container">
  <!-- Columns are always 50% wide, on mobile and desktop -->

  <div class="row" style="text-align:center;">

    <% item_table.forEach(function(item) { %>
    <a href="../item/<%= item.i_id %>">
    <div class="col-xs-6" style="padding:10px">
      <div class="row">
        <img src="<%= item.img_link %>" height="auto" width="20%" class="img-circle">
        <br><%= item.i_name %>
      </div>
      <div class="row">
        <span>฿<%= item.i_price %>.00</span>
      </div>
    </div>
    <% }); %>
  </div>
</div>
