<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
        <div class="col-xs-5 navbar-header">
        <a class="navbar-brand" href="#" style="padding-left: 0px;">Saleng Online</a>
        </div>
        <div class="col-xs-7">
            <form role="search" mothod="post" style="padding-top: 8px;">
                <input type="text" class="form-control" name="keyword" value="" placeholder="&#xf002; Search" style="font-family: FontAwesome; width: 100%;">
            </form>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
  </div><!-- /.container-fluid -->
</nav>