<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 navbar-header" style="padding-right: 0;">
        <a class="navbar-brand" href="/index" style="padding-left: 0px; font-family: Pacifico;">Saleng Online</a>
        </div>
        <div class="col-xs-8">
            <a class="navbar-brand" href="/search" style="padding: 8px 0 0 0;">
                <input type="text" class="form-control" name="keyword" value="" placeholder="&#xf002; ค้นหาจากประเภทสินค้า" style="font-family: FontAwesome; width: 100%;" width: 100%;">
            </a>
        </div>

    </div>
    
  </div>
</nav>