<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-left">
        <form role="search" method="get" style="padding-top: 8px;">
            <input type="text" oninput="oninputChange()" id="search-input" class="form-control" name="search-keyword" value="" placeholder="&#xf002; ค้นหาจากประเภทสินค้า" style="font-family: FontAwesome; width: 100%;">
        </form>
    </div>
  </div>
</nav>