<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="row" style="margin: 20px;">
       <div class="col-xs-2">
            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
       </div> 
       <div class="col-xs-10">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">Me, me.</strong> <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                </div>
                <p>
                    <%= text %>
                </p>
            </div>
       </div> 
    </div>

    <footer style="position: absolute; bottom: 0;">
        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat">
                        Send</button>
                </span>
            </div>
        </div>
    </footer>
  </body>
</html>

