<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container">
      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="row" style="text-align:center;">
        <div class="col-xs-6" style="border-width:1px 1px 1px 1px; border-style:solid; padding:10px">
            <div class="row">
                <img src="/logo.png" height="auto" width="20%">
            </div>
            <div class="row">
              <span>฿xx.xx</span>
            </div>
        </div>
        <div class="col-xs-6" style="border-width:1px 1px 1px 0px; border-style:solid; padding:10px">
            <div class="row">
                <img src="/logo.png" height="auto" width="20%">
            </div>
            <div class="row">
              <span>฿xx.xx</span>
            </div>
      </div>
    </div>
    <!--row2-->
    <div class="row" style="text-align:center;">
        <div class="col-xs-6" style="border-width:0px 1px 1px 1px; border-style:solid; padding:10px">
          <div class="row">
            <img src="/logo.png" height="auto" width="20%">
          </div>
          <div class="row">
              <span>฿xx.xx</span>
          </div>
      </div>

      <div class="col-xs-6" style="border-width:0px 1px 1px 0px; border-style:solid; padding:10px">
        <div class="row">
          <img src="/logo.png" height="auto" width="20%">
        </div>
        <div class="row">
          <span>฿xx.xx</span>
        </div>
      </div>
    </div> <!--end row2-->
    <!--row3-->
    <div class="row" style="text-align:center;">
        <div class="col-xs-6" style="border-width:0px 1px 1px 1px; border-style:solid; padding:10px">
          <div class="row">
            <img src="/logo.png" height="auto" width="20%">
          </div>
          <div class="row">
              <span>฿xx.xx</span>
          </div>
      </div>

      <div class="col-xs-6" style="border-width:0px 1px 1px 0px; border-style:solid; padding:10px">
        <div class="row">
          <img src="/logo.png" height="auto" width="20%">
        </div>
        <div class="row">
          <span>฿xx.xx</span>
        </div>
      </div>
    </div> <!--end row3-->
  </body>
</html>
