<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container">
      <!-- Columns are always 50% wide, on mobile and desktop -->

      <div class="row" style="text-align:center;">

        <% item_table.forEach(function(item) { %>
          <div class="col-xs-6" style="border-width:1px 1px 1px 1px; border-style:solid; padding:10px">
              <div class="row">
                  <img src="<%= item.img_link %>" height="auto" width="20%">
                  <br><%= item.i_name %>
              </div>
              <div class="row">
                <span>฿<%= item.i_price %>.00</span>
              </div>
          </div>
        <% }); %>

    </div>
  </body>
</html>
