<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/search-bar %>
    <div class="container">
      <ul class="list-group" id="search-group">
        <% for (var item=0; item < catagories.length ; item++) { %>
          <a href="./catagories/<%= catagories[item].cat_id %>">
            <li class="list-group-item" >
              <%= catagories[item].cat_name %>
            </li>
          </a>
        <% } %>
      </ul>
    </div>
    <script>
        function oninputChange() {
            var input, filter, ul, li, a, i;
            input = document.getElementById('search-input');
            filter = input.value.toUpperCase();
            ul = document.getElementById("search-group");
            li = ul.getElementsByTagName('li');

            for (i = 0; i < li.length; i++) {
                var a = li[i].innerText;
                if ( a.includes(input)) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
  </body>
</html>
