<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/search-bar %>
    <div class="container">
        <ul class="list-group" id="search-group">
            <% for (var item=0; item < catagories.length; item++) { %>
                <li class="list-group-item">
                    <a href="/search"><%= catagories[item].cat_name %></a>
                </li>
            <% }%>
        </ul>

    </div>
    
  </body>
</html>
